body {
    font-family: Roboto, sans-serif;
    background-color: #c7ced8;
}
table {
    margin: 50px auto;
    color: white;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
thead, tfoot {
    background-color: #27426d;
    font-weight: bold;
}
td {
    text-align: center;
    padding: 8px 4px;
    min-width: 100px;
}
tbody tr td:first-child {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #4f8cef;
}

tbody tr:nth-child(even) {
    background-color: #6facff;
}